body{
    margin:0;
    font-family: sans-serif;
}
header,footer,aside{
    display:block;
}
.container{
    width:1200px;
    margin:0 auto;
    /* float:left; */
}
.headerbar{
    width:1200px;
    float:left;
}
h1{
    color:white;
    text-align: center;
}
input,select{
    width:250px;
    padding:10px;
    margin-top: 5px;
}
table{
    /* display:grid; */
    width:90%;
    border-collapse: collapse;
    margin:20px auto;
}
th{
    background:orange; 
}
th,td{
    border:2px solid black;
    padding:10px;
    /* max-width:50%; */

}
fieldset{
    border:none;
}
/* table.regform 
{
     table-layout:fixed; 
}
table.regform td {
     overflow: hidden; 
} */
button{
    background:red;
    width: 50px;
    height:30px;
    color: white;
}
.actionbutton{
    float:right;
    background:red;
    width:100px;
}
label{
    display:inline-block;
    width:150px;
}
.headerbar.top{
    background:rgb(33, 59, 59);
    min-height: 100px;
}
.headerbar.bottom{
    background:rgb(75, 75, 40);
    min-height:60px;
}
.leftbar{
    width:600px;
    background:rgba(11, 146, 45, 0.664);
    min-height: 600px;
    float:left;
}
.rightbar{
    width:600px;
    background:rgba(9, 102, 79, 0.411);
    min-height: 600px;
    float:left;
    text-align: center;
}