body{
    margin:0;
    font-family: sans-serif;
}
header,footer,aside{
    display:block;
}
.container{
    width:1200px;
    margin:0 auto;
    /* float:left; */
}
.headerbar{
    width:1200px;
    float:left;
}
h1{
    color:white;
    text-align: center;
}
input,select{
    width:250px;
    padding:10px;
    margin-top: 5px;
}
table{
    width:420px;
    border-collapse: collapse;
    margin: 20px;
}
th{
    background:orange; 
}
th,td{
    border:2px solid black;
    padding:10px;
}
fieldset{
    border:none;
}
button{
    background:red;
    width: 100px;
    height:30px;
    float:right;
}
label{
    display:block;
    width:450px;
}
.headerbar.top{
    background:#033;
    min-height: 100px;
}
.headerbar.bottom{
    background:#330;
    min-height:60px;
}
.leftbar{
    width:600px;
    background:#099;
    min-height: 600px;
    float:left;
}
.rightbar{
    width:600px;
    background:#ccf;
    min-height: 600px;
    float:left;
    text-align: center;
}