body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
}
header,footer,aside{
    display:block;
}
.container{
    width:1200px;
    margin:0 auto;
    /* float:left; */
}
.headerbar{
    width:1200px;
    float:left;
}
h1{
    color:white;
    text-align: center;
}
input,select{
    width:250px;
    padding:10px;
    margin-top: 5px;
}
table{
    width:90%;
    border-collapse: collapse;
    margin:20px auto;
}

table tr,td,th{
    height:25px;
    max-width: 100px;
    table-layout: fixed ;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

th{
    background:orange; 
}
th,td{
    border:2px solid black;
    padding:10px;
}
/* TODO:change hover state only for overflown elements */
td:hover{
    overflow:visible;
    display:contents;
}

fieldset{
    border:none;
}
button{
    background:red;
    width: 50px;
    height:30px;
    color: white;
}
.actionbutton{
    /* float:left; */
    /* display:flex;
    flex-wrap:nowrap;
    flex-direction: row; */
    background:red;
    width:90px;
    /* display:inline-block; */
}
label{
    display:inline-block;
    width:150px;
}
.headerbar.top{
    background:rgb(33, 59, 59);
    min-height: 60px;
}
.headerbar.bottom{
    background:rgb(75, 75, 40);
    min-height:30px;
}
.leftbar{
    width:30%;
    background:rgba(11, 146, 45, 0.664);
    min-height: 600px;
    float:left;
}
.rightbar{
    width:70%;
    background:rgba(9, 102, 79, 0.411);
    min-height: 600px;
    float:left;
    text-align: center;
}