@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Square Peg', cursive;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 60vh;
    background:linear-gradient(to bottom right,rgb(18, 248, 121),pink);
    margin:0 auto;
   
}
.top{
    width: 800px;
    /* min-height:50px; */
    background-color: rgb(131, 79, 30);
    text-align: center;
    color:antiquewhite;
}
form{
    /* display: flex; */

}
