@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500&display=swap');
body{
    background:rgb(107, 107, 107);
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-width: 500px;
}
.container{
    background:rgb(58, 179, 34);
    width:1000px;
    min-height:100vh;
    margin:0 auto;
}
.header{
    background:white;
    width:1000px;
    min-height:40px;
    float:left;   
}
.main{
    display:block;
}
.main .regform{
    background:pink;
    width:50%;
    min-height: 90vh;
    float:left;
}
.main .regtable{
    background:burlywood;
    width:50%;
    height:90vh;
    float:left;
}
.footer{
    background:greenyellow;
    width: 1000px;
    float:left;
}
